.error
{
    color:red;
}

.sucess
{
    color:white;
}
.btn btn-primary
{
    background-color: red;
    color:white;
    float: right;
}


.avatar {
    width: 100px;
    padding-left:10px;margin-left:2px;background-color:white;padding:20px; border-radius: 50%;
}

.table-container {
    background-color: white;margin:auto;margin-top:50px;border-radius:10px;width:90%;
    padding-bottom: 10px;
    min-height: 500px;
}